@use "sass:map";
@use "../../styles/mixins" as mixins;
@use "./base.module.scss";

.container {
	@include mixins.respond-to("desktop") {
		position: relative;
		gap: 1rem;
	}
}

.wrapper {
	@include mixins.respond-to("desktop") {
		position: relative;
		display: block;
	}
}
