@use "sass:map";
@use "../../../styles/mixins" as mixins;
@use "./base.module.scss";

@include mixins.respond-to("desktop") {
	.movie-card {
		width: auto;

		aspect-ratio: 9/16;

		overflow: hidden;
	}
}
