@use "sass:map";
@use "../../../styles/mixins" as mixins;
@use "./base.module.scss";

@include mixins.respond-to("desktop") {
	.movie-card {
		width: 300px;
		height: 450px;
		border-radius: 12px;

		aspect-ratio: 9/16;
	}
}
